:host {
  display: none;
  width: 100%;
  margin-top: 20px;
}

:host(.active) {
  display: block;
}

.order-confirmation-banner {
  text-align: center;
  padding: 30px 20px !important;
  font-size: 18px;
  line-height: 22px;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 15px;
  font-weight: 500;
  background: white;
}

.order-confirmation-banner p {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.order-number {
  font-weight: bold;
}
