.delivery_banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 4px 6px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
}

.delivery_banner i {
    width: 1px;
    height: 16px;
    background-color: #fff;
    border-radius: 1px;
}

.delivery_banner img {
    vertical-align: baseline;
}