.summary {
  padding: 29px 20px 0;
}

.summary-title {
  color: #000;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  margin-bottom: 14px;
  font-weight: 400;
}

.summary-stars {
  padding-left: 96px;
  color: #232323;
  background-image: url('data:image/svg+xml,<svg width="90" height="15" viewBox="0 0 90 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.8281 5.66827C15.7242 5.35133 15.4392 5.12623 15.102 5.09625L10.5216 4.68604L8.71044 0.504789C8.5769 0.198357 8.27275 0 7.93482 0C7.59689 0 7.29275 0.198357 7.1592 0.505505L5.348 4.68604L0.766904 5.09625C0.430308 5.12694 0.146018 5.35133 0.0415276 5.66827C-0.0629624 5.98521 0.0335365 6.33285 0.288163 6.55198L3.75038 9.5468L2.72945 13.9824C2.65475 14.3086 2.78309 14.6457 3.05745 14.8413C3.20492 14.9464 3.37746 14.9999 3.55145 14.9999C3.70146 14.9999 3.85027 14.96 3.98382 14.8812L7.93482 12.5521L11.8844 14.8812C12.1734 15.0527 12.5377 15.037 12.8115 14.8413C13.0859 14.6451 13.2142 14.3078 13.1395 13.9824L12.1185 9.5468L15.5808 6.55258C15.8354 6.33285 15.9326 5.98581 15.8281 5.66827Z" fill="url(%23paint0_linear_2004_2379)"/><path d="M52.8935 5.6684C52.7896 5.35146 52.5046 5.12635 52.1674 5.09637L47.587 4.68617L45.7759 0.504911C45.6423 0.198479 45.3382 0.00012273 45.0002 0.00012273C44.6623 0.00012273 44.3581 0.198479 44.2246 0.505628L42.4134 4.68617L37.8323 5.09637C37.4957 5.12707 37.2114 5.35146 37.1069 5.6684C37.0024 5.98534 37.0989 6.33297 37.3536 6.5521L40.8158 9.54692L39.7949 13.9825C39.7201 14.3087 39.8485 14.6458 40.1229 14.8414C40.2703 14.9465 40.4429 15 40.6168 15C40.7669 15 40.9157 14.9601 41.0492 14.8813L45.0002 12.5522L48.9498 14.8813C49.2388 15.0528 49.6031 15.0371 49.8769 14.8414C50.1514 14.6452 50.2796 14.308 50.2049 13.9825L49.1839 9.54692L52.6462 6.5527C52.9008 6.33297 52.998 5.98593 52.8935 5.6684Z" fill="url(%23paint1_linear_2004_2379)"/><path d="M34.361 5.6684C34.2571 5.35146 33.9721 5.12635 33.6349 5.09637L29.0545 4.68617L27.2433 0.504911C27.1098 0.198479 26.8056 0.00012273 26.4677 0.00012273C26.1298 0.00012273 25.8256 0.198479 25.6921 0.505628L23.8809 4.68617L19.2998 5.09637C18.9632 5.12707 18.6789 5.35146 18.5744 5.6684C18.4699 5.98534 18.5664 6.33297 18.821 6.5521L22.2832 9.54692L21.2623 13.9825C21.1876 14.3087 21.3159 14.6458 21.5903 14.8414C21.7378 14.9465 21.9103 15 22.0843 15C22.2343 15 22.3831 14.9601 22.5167 14.8813L26.4677 12.5522L30.4172 14.8813C30.7062 15.0528 31.0706 15.0371 31.3443 14.8414C31.6188 14.6452 31.747 14.308 31.6723 13.9825L30.6514 9.54692L34.1136 6.5527C34.3682 6.33297 34.4655 5.98593 34.361 5.6684Z" fill="url(%23paint2_linear_2004_2379)"/><path d="M71.4261 5.6684C71.3222 5.35146 71.0372 5.12635 70.7 5.09637L66.1196 4.68617L64.3084 0.504911C64.1748 0.198479 63.8707 0.00012273 63.5328 0.00012273C63.1948 0.00012273 62.8907 0.198479 62.7571 0.505628L60.9459 4.68617L56.3649 5.09637C56.0283 5.12707 55.744 5.35146 55.6395 5.6684C55.535 5.98534 55.6315 6.33297 55.8861 6.5521L59.3483 9.54692L58.3274 13.9825C58.2527 14.3087 58.381 14.6458 58.6554 14.8414C58.8029 14.9465 58.9754 15 59.1494 15C59.2994 15 59.4482 14.9601 59.5818 14.8813L63.5328 12.5522L67.4823 14.8813C67.7713 15.0528 68.1357 15.0371 68.4094 14.8414C68.6839 14.6452 68.8121 14.308 68.7374 13.9825L67.7165 9.54692L71.1787 6.5527C71.4333 6.33297 71.5305 5.98593 71.4261 5.6684Z" fill="url(%23paint3_linear_2004_2379)"/><path d="M89.9586 5.6684C89.8547 5.35146 89.5697 5.12635 89.2325 5.09637L84.6521 4.68617L82.8409 0.504911C82.7074 0.198479 82.4032 0.00012273 82.0653 0.00012273C81.7274 0.00012273 81.4232 0.198479 81.2897 0.505628L79.4785 4.68617L74.8974 5.09637C74.5608 5.12707 74.2765 5.35146 74.172 5.6684C74.0675 5.98534 74.164 6.33297 74.4186 6.5521L77.8809 9.54692L76.8599 13.9825C76.7852 14.3087 76.9136 14.6458 77.1879 14.8414C77.3354 14.9465 77.5079 15 77.6819 15C77.832 15 77.9808 14.9601 78.1143 14.8813L82.0653 12.5522L86.0149 14.8813C86.3039 15.0528 86.6682 15.0371 86.9419 14.8414C87.2164 14.6452 87.3447 14.308 87.27 13.9825L86.249 9.54692L89.7112 6.5527C89.9659 6.33297 90.0631 5.98593 89.9586 5.6684Z" fill="url(%23paint4_linear_2004_2379)"/><defs><linearGradient id="paint0_linear_2004_2379" x1="0" y1="7.5" x2="90" y2="7.5" gradientUnits="userSpaceOnUse"><stop offset="0.96751" stop-color="%23FFC107"/><stop offset="0.968702" stop-color="%23C3C3C3"/></linearGradient><linearGradient id="paint1_linear_2004_2379" x1="0" y1="7.5" x2="90" y2="7.5" gradientUnits="userSpaceOnUse"><stop offset="0.96751" stop-color="%23FFC107"/><stop offset="0.968702" stop-color="%23C3C3C3"/></linearGradient><linearGradient id="paint2_linear_2004_2379" x1="0" y1="7.5" x2="90" y2="7.5" gradientUnits="userSpaceOnUse"><stop offset="0.96751" stop-color="%23FFC107"/><stop offset="0.968702" stop-color="%23C3C3C3"/></linearGradient><linearGradient id="paint3_linear_2004_2379" x1="0" y1="7.5" x2="90" y2="7.5" gradientUnits="userSpaceOnUse"><stop offset="0.96751" stop-color="%23FFC107"/><stop offset="0.968702" stop-color="%23C3C3C3"/></linearGradient><linearGradient id="paint4_linear_2004_2379" x1="0" y1="7.5" x2="90" y2="7.5" gradientUnits="userSpaceOnUse"><stop offset="0.96751" stop-color="%23FFC107"/><stop offset="0.968702" stop-color="%23C3C3C3"/></linearGradient></defs></svg>');
  background-repeat: no-repeat;
  background-position: 0 center;
  margin-bottom: 10px;
}

.summary-stars a {
  text-decoration: underline;
  font-weight: bold;
}

.summary-price {
  display: flex;
  align-items: center;
  gap: 6px;
  text-transform: uppercase;
  letter-spacing: -0.022em;
  margin-bottom: 12px;
}

.summary-price strong {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #2d1b13;
}

.summary-price s {
  font-size: 18px;
  line-height: 21px;
  color: #2d1b13;
  text-decoration: none;
  position: relative;
  margin-right: 5px;
}

.summary-price s::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 10px;
  background-color: #ee3d4a;
  transform-origin: center;
  transform: rotate(350deg);
}

.summary-price-lb {
  background-image: url(../../assets/images/lb-price-bg.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 2px 10px 2px 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  position: relative;
}

.summary-list {
  padding: 12px 8px 12px 12px;
  border-radius: 12px;
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.summary-list-item {
  display: flex;
  align-items: center;
  min-height: 24px;
  padding-left: 30px;
  background-image: url('data:image/svg+xml,<svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg"><rect x="1" y="1" width="20" height="20" rx="6" fill="%23E24444"/><path d="M6 11L9 14L16 8" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position: 0 center;
  letter-spacing: -0.01em;
}
